<div class="item" *ngFor="let video of videoService.videos">
  <div class="ui-image">
    <img src="{{video.thumbnail}}">
  </div>

  <div class="content">
    <a class="header"
      target="_blank"
      [attr.href]="'https://www.youtube.com/watch?v=' + video.key"
    >
      {{video.title}}
    </a>

    <div class="meta">
      <div>
        Added by
        <span>{{video.user}}</span>
      </div>
      ({{video.duration}})
    </div>
    <div class="meta">

    </div>
    <div class="extra">
      <div *ngIf="!video.played && !video.playing && !isSuggestion"
        class="ui mini right floated red basic button"
        (click)="remove(video)">
        Remove
      </div>
      <div *ngIf="video.played && !video.playing || isSuggestion"
        class="ui mini right floated green basic button"
        (click)="add(video)">
        Add
      </div>
      <div *ngIf="video.playing"
        class="ui mini right floated yellow basic button"
        (click)="skip()">
        Skip
      </div>
    </div>
  </div>
</div>