<div class="ui top attached menu" style="height: 55px;">
  <div class="left menu">
    <div class="item">
      <img src="assets/images/jukebot.png" alt="jukebot">
    </div>
    <a href="/auth/google" class="item">
      <i class="google icon"></i> Login
    </a>
    <div class="item">
      <div class="ui left icon input">
        <input type="text" maxlength="24" placeholder="Username..." name="" value="">
        <i class="user icon"></i>
      </div>
    </div>
  </div>

  <video-search>
  </video-search>

  <div class="right menu">
    <div class="item">
      <div class="ui dropdown" tabindex="0">

      </div>
    </div>
    <a class="icon item" title="Favorites">
      <i class="large red heart icon"></i>
    </a>
    <a class="ui item" style="opacity: .75;">JukeBot v2.0-dev</a>
    <a class="icon item" href="https://github.com/TheConnMan/jukebot/issues" target="_blank" title="Open an Issue">
      <i class="large github icon"></i>
    </a>
  </div>
</div>
