<!-- TOP NAVIGATION -->
<main-nav></main-nav>
<!-- END TOP NAVIGATION -->

<!-- FAVORITES SIDEBAR -->
<sidebar></sidebar>
<!-- END FAVORITES SIDEBAR -->

<!-- MAIN CONTENT -->
<div id="main-content">
  <div class="ui stackable grid w-100">
    <!-- VIDEO -->
    <div class="seven wide column">
      <currently-playing style="max-height: calc(100vh - 77px);"></currently-playing>
    </div>
    <!-- END VIDEO -->

    <!-- PLAYLIST -->
    <div class="five wide column">
      <div class="ui top attached tabular menu">
        <div class="active item">
          Up Next
          <div class="ui toggle checkbox" style="padding-left: 8px;">
            <input type="checkbox" name="" value="">
            <label for=""></label>
          </div>
        </div>
        <div class="item">
          Related
        </div>
      </div>
      <upcoming-playlist></upcoming-playlist>
    </div>
    <!-- END PLAYLIST -->

    <!-- CHAT -->
    <div class="four wide column">
      <div class="d-f fd-c h-100">
        <h2 class="ui dividing header">Chat
          <div class="ui toggle checkbox">
            <input type="checkbox" name="" value="">
            <label>Notifications</label>
          </div>
          <div class="ui feed fg-1" style="overflow-y: auto; word-break: break-word;">

          </div>
          <i class="content minimal" style="min-height: 1.5em;"></i>
          <div class="ui fluid input" style="min-height: 2.5em;">
            <input type="text" placeholder="Say something...">
          </div>
        </h2>
      </div>
    </div>
    <!-- END CHAT -->
  </div>
</div>
<!-- END MAIN CONTENT -->
