<!-- TOP NAVIGATION -->
<main-nav></main-nav>
<!-- END TOP NAVIGATION -->

<!-- FAVORITES SIDEBAR -->
<sidebar></sidebar>
<!-- END FAVORITES SIDEBAR -->

<!-- MAIN CONTENT -->
<div id="main-content">
  <div class="ui stackable grid w-100">
    <!-- VIDEO -->
    <div class="seven wide column">
      <card class="w-100" style="max-height: calc(100vh - 77px);">
        <div class="ui embed active">
          <div class="embed">

          </div>
        </div>
        <div class="content">
          <span class="right floated">
            <i class="big heart red like icon"></i>
            <div class="ui toggle checkbox">
              <input type="checkbox" name="" value="">
              <label>Minimize Video</label>
            </div>
          </span>
          <a class="header"></a>
          <div class="meta">
            <span class="date">Added by</span>
          </div>
        </div>
        <div class="extra content">

        </div>
        <div class="extra content listeners">

        </div>
      </card>
    </div>
    <!-- END VIDEO -->

    <!-- PLAYLIST -->
    <div class="five wide column">
      <div class="ui top attached tabular menu">
        <div class="active item">
          Up Next
          <div class="ui toggle checkbox" style="padding-left: 8px;">
            <input type="checkbox" name="" value="">
            <label for=""></label>
          </div>
        </div>
        <div class="item">
          Related
        </div>
      </div>
      <div id="video-list" class="ui items bottom attached active tab segment">
        <div class="item">
          <div class="ui image ">

          </div>
          <div class="content">
            <a class="header"></a>
            <div class="meta">

            </div>
            <div class="meta">

            </div>
            <div class="extra">

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PLAYLIST -->

    <!-- CHAT -->
    <div class="four wide column">
      <div class="d-f fd-c h-100">
        <h2 class="ui dividing header">Chat
          <div class="ui toggle checkbox">
            <input type="checkbox" name="" value="">
            <label>Notifications</label>
          </div>
          <div class="ui feed fg-1" style="overflow-y: auto; word-break: break-word;">

          </div>
          <i class="content minimal" style="min-height: 1.5em;"></i>
          <div class="ui fluid input" style="min-height: 2.5em;">
            <input type="text" placeholder="Say something...">
          </div>
        </h2>
      </div>
    </div>
    <!-- END CHAT -->
  </div>
</div>
<!-- END MAIN CONTENT -->
