<div class="ui embed active" #embed>
  <div class="embed">

  </div>
</div>
<div class="content" *ngIf="videoService.currentVideo">
  <span class="right floated">
    <i class="big heart red like icon"></i>
    <div class="ui toggle checkbox">
      <input type="checkbox" name="" value="">
      <label>Minimize Video</label>
    </div>
  </span>
  <a class="header"
    target="_blank"
    [attr.href]="'https://www.youtube.com/watch?v=' + videoService.currentVideo.key"
  >
    {{videoService.currentVideo.title}} <i class="youtube icon"></i>
  </a>
  <div class="meta">
    <span class="date">Added by {{videoService.currentVideo.user}}</span>
  </div>
</div>
<div class="extra content">

</div>
<div class="extra content listeners">

</div>