<div class="ui embed active">
  <div class="embed">

  </div>
</div>
<div class="content">
  <span class="right floated">
    <i class="big heart red like icon"></i>
    <div class="ui toggle checkbox">
      <input type="checkbox" name="" value="">
      <label>Minimize Video</label>
    </div>
  </span>
  <a class="header"
    target="_blank"
    *ngIf="videoService.currentVideo"
  >
    {{videoService.currentVideo.title}} <i class="youtube icon"></i>
  </a>
  <div class="meta">
    <span class="date">Added by</span>
  </div>
</div>
<div class="extra content">

</div>
<div class="extra content listeners">

</div>